{% extends "base.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">[&lt;&gt;] LiveCode</h1>
  <p class="lead">Run code directly from your browser.</p>
  <hr class="my-4">
  <p>It uses websockets for bidrectional communication and supports applications with keyboard and mouse interaction.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/fossunited/livecode" role="button">Learn more</a>
</div>

<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="python-tab" data-toggle="tab" href="#python-editor" role="tab" aria-controls="python" aria-selected="true">Python</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="canvas-tab" data-toggle="tab" href="#canvas-editor" role="tab" aria-controls="canvas" aria-selected="false">Python+Canvas</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="python-editor" role="tabpanel" aria-labelledby="python-tab"
      data-runtime="python">
      <div class="x-row">
        <div class="x-col">
          <div class="section editor">
            <div class="heading">
              <button class="run" style="float: right;">Run</button>
              <h2>Editor</h2>
            </div>
            <textarea class="code" style="width: 100%;" rows="18">
import time

for i in range(10):
    time.sleep(1)
    print(i)
              </textarea>
          </div>
        </div>
        <div class="x-col">
          <div class="section preview">
            <div class="heading"><h2>Output</h2></div>
            <pre class="output m-1"></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="canvas-editor" role="tabpanel" aria-labelledby="canvas-tab"
        data-runtime="python-canvas">
      <div class="x-row">
        <div class="x-col">
          <div class="section editor">
            <div class="heading">
              <button class="run" style="float: right;">Run</button>
              <h2>Editor</h2>
            </div>
            <textarea class="code" style="width: 100%;" rows="18">
"""
Program to draw random concentric circles in a 5x5 grid.
"""
import random

width = 300
height = 300

def random_concentric_circles(x, y, d, n=10):
    for i in range(n):
        circle(x, y, random.randint(0, d))

def draw_grid(shape, n=5):
    size = width/n
    for i in range(n):
        for j in range(n):
            x = size*i+size/2
            y = size*j+size/2
            shape(x, y, size)

draw_grid(random_concentric_circles)            </textarea>
          </div>
        </div>
        <div class="x-col">
          <div class="section preview">
            <div class="heading"><h2>Output</h2></div>
            <canvas class="canvas" width="300" height="300" style="float: left; border: 1px solid #ddd; padding: 5px; margin: 10px;"></canvas>
            <pre class="output" style="float: left; padding: 10px;">
            </pre>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<style type="text/css">
.x-col {
    float: left;
    width: 50%;
    height: 500px;
    background: #ddd;
    border: 1px solid #aaa;
}
div.section {
    border: 1px solid #ddd;
    height: 100%;
    background: #fff;
}
div.heading {
    padding: 5px 10px;
    background: #eee;
    height: 45px;
    border: 1px solid #ddd;
}
div.heading h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 5px;
    color: #444;
}
textarea {
  padding: 10px;
}
/* .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    font-size: 2.5em;
}
.CodeMirror-scroll {
    height: 440px;
}
.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
} */
</style>
{% endblock %}

{% block extrahead %}

<link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">

<script src="/static/codemirror/lib/codemirror.js"></script>
<script src="/static/codemirror/mode/python/python.js"></script>
<script src="/static/codemirror/keymap/sublime.js"></script>

<script src="/static/codemirror/addon/edit/matchbrackets.js"></script>
<script src="/static/codemirror/addon/comment/comment.js"></script>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="/static/livecode.js"></script>

<script type="text/javascript">
$(function() {
  var pythonEditor = new LiveCodeEditor(document.querySelector("#python-editor"), {
    base_url: document.location.protocol + "//" + document.location.host,
    runtime: "python",
    codemirror: true
  })

  var canvasEditor = new LiveCodeEditor(document.querySelector("#canvas-editor"), {
    base_url: document.location.protocol + "//" + document.location.host,
    runtime: "python-canvas",
    codemirror: true
  })
})
</script>
{% endblock %}
